<!--

* En este archivo html se define toda la estructura del apartado visual para el inicio de sesion en Analytics.
* Se definen el espacio (form-section) donde el usuario ingresa sus datos, el boton para iniciar sesion y la 
  notificacion de datos incorrectos.
* Tambien aqui se definen los archivos "css" y "js" para el apartado visual y verificar los datos del usuario.
* IMPORTANTE: En ese archivo NO SE REALIZA NINGUN PROCESAMIENTO DE DATOS, solo se define la estructura y espacio
  para mostrar el formulario para que el usuario inicie sesion.

-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>INSITRA ANALYTICS</title>
    <link rel="icon" type="image/png" href="../static/images/insitra_logo_mini.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo_IniciarSesion.css"> <!-- Elementos Visuales css de la vista para iniciar sesion -->
</head>

<body>
    <main>
        <section class="form-section">
            <form id="loginForm">
                
                <div class="texto-iniciar">
                    <p>INICIAR SESIÓN</p>
                </div>

                <div id="error-message" class="error-box" style="display: none;"></div>

                <div class="input-container">
                    <p><b>Usuario</b></p>
                    <input type="text" id="usuario" placeholder="Ingresa tu usuario" required>                    
                </div>

               <div class="input-container">
                    <p><b>Contraseña</b></p>
                    <div class="password-wrapper">
                        <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
                        <div id="togglePassword" class="toggle-eye">

                            <!-- Control para Si ver o No ver la contraseña ingresada (ICONÓ DE OJO)-->
                            <svg id="eye-open" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            <svg id="eye-closed" style="display:none;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                                <line x1="1" y1="1" x2="23" y2="23"></line>
                            </svg>

                        </div>
                    </div>
                </div>

                <div class="login-button-container">
                    <button type="submit">Acceder</button>
                </div>

            </form>
        </section>

    </main>
    <script src="../static/js/js_IniciarSesion.js"></script>
</body>
</html>